<div class="navbar">
  <a class="dd"  href="#">
      <img src="assets/logo.png" style="width: 40px;" alt="logo" > finense
      
    </a >
  <div class="bar">
  
      
      <ul class="nav">
          <li class="nav-item">
              <a class="active" href="#"><i class="fa fa-fw fa-home"></i> TABLEAU DE BORD</a>
          </li>
          <li class="nav-item">
              <a href="#"><i class="fa fa-fw fa-envelope"></i> COPMTE</a>
          </li>
          <li class="nav-item">
              <a href="#"><i class="fa fa-fw fa-user"></i> MEMBRE </a>
          </li>
          
        </ul>
        
</div>
<a id="RR" href="#"><i class="fa fa-fw fa-search"></i></a>

  